@model IOrange.Data.IorangedatabaseContext 

<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="~/css/HomePage.css"></link>
</head>
<body>
    
    <table id="table1">
        <tr>
            <td id="itemsS">[items]</td>
            <td id="deleteS">[delete last item]</td>
            <td id="submitTd">[Submit button]</td>
        </tr>
    </table>
    <table id="table2">
        
        <tr>
            <th>@DateTime.Now</th>
            <th>[User]</th>
            
        </tr>
        <tr>
            
        </tr>
        <tr>
            
        </tr>
        <tr>
            
        </tr>
    </table>
</body>
</html>